*{
    margin:0;
    padding:0;
}
.burger{
    position: absolute;
    cursor: pointer;
    left: 4%;
    top: 19px;
    display:none;
}
.icon{
    position: absolute;
    cursor: pointer;
    left: 4%;
    top: 12px;
    display:none;

}
.burger2{
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 7px;
    height: 24px;
    display:none;
}
.color{
    width: 17px;
    height:17px;
    border-radius:100px;
    background-color:white;
    
}

.line3{
    width: 24px;
    background-color: white;
    height: 3px;
    margin: -5px 1px;
    transform: rotate(45deg);
    
}   
.color2 {
    width: 17px;
    background-color: black;
    height: 4px;
    margin: -9px 0px;
    transform: rotate(-5deg);
    transition: all 0.5s ease-in;
}
.no{
    height: 0px;
    width: 0px;
    transition: all 0.5s linear;
    transform: rotate(447deg);
    margin: -7px 8px;
}
.line{
    width: 25px;
    background-color: white;
    height:2px;
    margin: -1.5px 1px;
    transform:rotate(45deg);
    transition: all 0.5s ease-in;
}
.line2{
    width: 25px;
    background-color: white;
    height:2px;
    margin: -1.5px 1px;
    transform:rotate(-45deg);
    transition: all 0.3s ease-in;
}

.top{
    width: 23px;
    background-color: white;
    height:1px;
    margin: 4px 1px;
    transform:rotate(0deg);
}
.bootom{
    width: 23px;
    background-color: white;
    height:1px;
    margin: 4px 1px;
    transform:rotate(0deg);
}
.ol{
    width:20px;
    color:#999;
    margin-left: 17rem;
    text-decoration: none;
    display:none;
} 
.ol li a{
    text-decoration:none;
    color:#999;
    font-size:18px;
}

.clear{
    padding:0px 9px;
    margin-right: 5px;
    top:50%;
    transform:translateY(-50%);
    width: 15px;
    height:15px;
    cursor: pointer;
    justify-content:center;
    align-items: center; 
}
.clear::before{
    margin-top:8px;
    position:absolute;
    content:'';
    width: 2px;
    height:15px;
    background:#999;
    transform: rotate(45deg);
}
.clear::after{
    margin-top:8px;
    position:absolute;
    content:'';
    width: 2px;
    height:15px;
    background:#999;
    transform: rotate(315deg);
}
.logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:26%;
    border:2px solid white;
    border-radius: 80px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    height:45px;
}
.nav-list{
    width: 70%;
    display:flex;
    align-items:center;
}

.nav-list li{
    list-style: none;
    padding: 12px 35px;
}

.nav-list li a{
    font-size: 18px;
    text-decoration:none;
    color:white;
}

.nav-list li a:hover{
    text-decoration:none;
    color:gray;
}

.rightNav{
    width: 30%;
    text-align:right;
}

#Serach{
    padding:5px;
    font-size: 16px;
    border:2px solid black;
    border-radius:9px;
}
.btn{
    padding: 8px 19px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 100px;
    font-size: 21px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn:hover{
    padding: 8px 19px;
    margin: 7px 3px;
    border: 2px solid gray;
    border-radius: 100px;
    font-size: 17px;
    background: none;
    color: gray;
    cursor: pointer;
}
.btnsm{
    padding: 0px 5px;
    font-size:14px;
    vertical-align: middle;
}

.btnsm:hover{
    padding: 0px 5px;
    font-size:14px;
    vertical-align: middle;

}
.rightNavinput{
    border-radius: 5px;
    border: 2px solid white;
}
.rightNavinput{
    width: 165px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0px 5px;
    
}
.background{
    background:rgb(0,0,0,0.7)url('../img/5.jpg');
    background-size:cover;
    background-blend-mode: darken;
}
.background2{
    background:black URL(../img/8.jpeg);
    background-size:cover;
    background-blend-mode: darken;
}
.text-big{
    text-align: center;
    font-size: 34px;
}

.text-small{
    text-align: center;
    font-size:22px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    flex-direction: column-reverse;
}
.sectiona{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    flex-direction: column-reverse;
}
.para{
    padding-top: 10px;
    width: 800px;

}
.paraa{
    padding-top: 10px;
    width: 800px;
}
.paras{
    color:hsl(300, 76%, 13%);
}
.thumbnil img{
    width: 500px;
    border: 4px solid black;
    border-radius: 30px;
}
.thumbnila img{
    width: 500px;
    border: 4px solid black;
    border-radius: 30px;
}
.pocox{
    cursor: pointer;
    border:3px solid black;
    border-radius: 5px;
    margin-top: 35px;
}
.pocoxa{
    cursor: pointer;
    border:3px solid black;
    border-radius: 5px;
    margin-top: 100px;
}
.poco{
    background-color: white;
    padding:1px 7px;
    font-size:34px;
}
.pocoa{
    background-color: white;
    padding:1px 7px;
    font-size:34px;
}
.h-resp{
    max-height: 38px;
}
.v-resp{
    opacity: 0;
    display:none;
}
.h-a-resp{
    max-height: 38px;
}
.v-a-resp{
    opacity: 0;
    display:none;
}
.contact{
    font-size: 28px;
    background-color:black;
    height:93vh;
}

.text-center{
    padding-top:10px;
    text-align: center;
    color: white
}

.form{
    max-width:70%;
    margin: 30px auto;
}

.form input{
    margin: 15px 0;
    width: 100%;
    font-size: 18px;
    border-radius:6px;
}

.form textarea{
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
    border-radius:6px;
}
.bt{
    padding: 8px 18px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 100px;
    font-size: 20px;
    background: none;
    color: white;
    cursor: pointer;
}

.bt:hover{
    padding: 8px 18px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 100px;
    font-size: 20px;
    background: none;
    color: gray
}

.text-footer {
    padding: 10px;
    font-size: 20;
    text-align: center;
    color: whitesmoke;
}
.pr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.r{
    background-color: black;
    width: 125px;
    height: 115px;
    border: 3px solid rgb(20, 20, 20);
    box-shadow: 0 24px 69px;
    border-radius: 19px;
    margin: 8.3%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.p{
    font-size: 16px;
    width: 125px;
    height: 115px;
    border: 3px solid rgb(20, 20, 20);
    border-radius: 19px;
    margin: -2%;
    margin-top: -4%;
    margin-bottom: 1%;
    text-align: center;
    color: white;
    background-color:rgb(0, 0, 0);
    background:linear-gradient(90deg,blue,#3131c1,#ea2e2e,red);
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-background-color: black;
    -webkit-background-clip : text;
}
.p:hover{
    background:linear-gradient(285deg,blue,#3131c1,#ea2e2e,red);
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-background-color: black;
    -webkit-background-clip : text;
}
.cam{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c{
    height: 200px;
    width: 200px;
    border-left:4px solid black;
    border-top:4px solid black;
    border-radius:50px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.ca{
    height: 70px;
    width: 70px;
    border:3px solid #727184;
    border-radius:200px;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-radius: 200px;
    margin-top: -89.5px;
    margin-left: -188px;
    text-align: center;
    font-size: 18px;
    background-color: black;
    color:white;

}

.cb{
    height: 70px;
    width: 70px;
    border:3px solid #727184;
    border-radius: 200px;
    margin-top: 98px;
    margin-left: -76px;
    text-align: center;
    font-size: 18px;
    background-color: black;
    color:white;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
}
.cc{
    height: 70px;
    width: 70px;
    border:3px solid #727184;
    border-radius: 200px;
    margin-top: -89px;
    margin-left: 23px;
    text-align: center;
    font-size: 18px;
    background-color: black;
    color:white;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    
}
.cd{
    height: 70px;
    width: 70px;
    border:3px solid #727184;
    border-radius: 200px;
    margin-top: 98px;
    margin-left: -76px;
    text-align: center;
    font-size: 18px;
    background-color: black;
    color:white;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
}

.scam{
    height:50px;
    width: 50%;
    min-width: 325px;
    border-top: 4px solid black;
    border-radius: 50px;
    margin-left: 25%;
    
    
}
.sac {
    height: 26px;
    width: 57px;
    border: 2px solid black;
    border-radius: 50px;
    margin-top: -46px;
    margin-left: 26%;
    
}
.sc {
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 100px;
    margin-left: 1px;
    margin-top: 1px;
    background-color: black;
    color: white;
    font-size: 18px;
    text-align: center;
    
}
.scb {
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 100px;
    margin-left: 32px;
    margin-top: -24px;
    background-color: black;
    color: white;
    font-size: 18px;
    text-align: center;
}
.text{
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 73px;
    margin-top: -22px;
    width: 233px;

}
.le{
    height: 2px;
    width: 691px;
    background-color: white;
    margin-top: 94px;
    margin-left: -16px;
    transform: rotate( 
22deg
 );
    border-radius: 2px;
}   
.len{
    height: 13px;
    width: 91px;
    color: white;
    background-color: black;
    margin-top: -17px;
    margin-left: 274px;
    transform: rotate(
22deg
);

}
.wi{
    height: 2px;
    width: 274px;
    background-color: white;
    margin-top: 3px;
    margin-left: 572px;
    transform: rotate(
112deg
);

}
.wid{
    height: 13px;
    width: 95px;
    color: white;
    background-color: black;
    margin-top: -13px;
    margin-left: 667px;
    transform: rotate(112deg);
}


.disp{
    display:flex;
    justify-items:center;
    align-items:center;
    margin-top:15px;
    margin-bottom:15px;
}
.dis{
    height: 304px;
    width: 90%;
    border: 3px solid black;
    border-radius: 25px;
    background: black;
    margin-left:5%;
    color:white;
    font-size :30px;
    text-align:center;
    
}
.disc{
    background: black;
    margin-left: 5%;
    color: white;
    width: 288px;
    font-size: 76px;
    text-align: center;
    background: linear-gradient(90deg,blue,#3131c1,#ea2e2e,red);
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-background-color: black;
    -webkit-background-clip: text;
    margin-top: -331px;
    margin-left: 109px;
    transform: rotate(22deg);

}
.disl{
    background: black;
    margin-left: 5%;
    color: white;
    width: 239px;
    font-size: 76px;
    text-align: center;
    background: linear-gradient(90deg,blue,#3131c1,#ea2e2e,red);
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-background-color: black;
    -webkit-background-clip: text;
    margin-top: 68px;
    margin-left: 420px;
    transform: rotate(22deg);

}   

.di{
    height: 184px;
    width: 45px;
    margin-left: -739px;
    background: white;
    border-radius: 11px;
    
    
}
.d{
    height: 5px;
    width: 763px;
    transform: rotate(-22deg);
    background-color: white;
    margin-top: -1px;
    margin-left: -52px;
    color:white;
    text-align:center;
    font-size:18px;
    
    
}




@media only screen and (max-width:1140px){
    .rightNavinput {
        width: 68%;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0px 5px;
        
    }
    .nav-list{
        flex-direction: column;

    }
    
    .navbar{
        max-height: 315px;
        height: 315px;
        transition: all 0.8s ease-out;
        flex-direction: column;
        flex-direction: column-reverse;

    }
    .rightNa input{
        font-size: 17px;
        height: 30px;
        width: 200px;
        border:3px solid black;
        border-radius:7px;
        padding : 0px 5px;
    }
    .logo img{
        width:60%;
        border:2px solid white;
        border-radius: 80px;
    }
    .nav-list li a{
        font-size: 22px;
        text-decoration:none;
    }

    .rightNav{
        width: 100%;
        text-align:center;
        transition: all 1.2s ease-out;
    }
    #search{
        width: 100%;
    }
    .burger{
        display:block;
    }
    .burger2{
        display:block;
    }


    .h-nav-resp{
        max-height: 38px;
    }
    .v-class-resp{
        opacity: 0;
        display:none;
    }
    .va-class-resp{
        height:0px;
        max-width: 0px;

        margin-left:215%;
    }
    .vb-class-resp{
        opacity: 0;
        display:none;
    }

    
    .text-small{
        text-align: center;
    }
    
    .text-big{
        text-align: center;
    }
    .paras{
        padding:0px 0px
    }
}
@media only screen and (max-width:910px){
    .disp{
        display:flex;
        justify-items:center;
        align-items:center;
    }
    .dis{
        height: 213px;
        
        width: 459px;
        border: 3px solid black;
        border-radius: 25px;
        background: black;
        margin-left: 5%;
        color: white;
        font-size: 30px;
        text-align: center;
        
    }
    .disc{
        background: black;
    margin-left: 5%;
    color: white;
    width: 195px;
    font-size: 52px;
    text-align: center;
    background: linear-gradient(90deg,blue,#3131c1,#ea2e2e,red);
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-background-color: black;
    -webkit-background-clip: text;
    margin-top: -232px;
    margin-left: 66px;
    transform: rotate(23deg);
    
    }
    .disl{
        background: black;
    margin-left: 5%;
    color: white;
    width: 167px;
    font-size: 52px;
    text-align: center;
    background: linear-gradient(90deg,blue,#3131c1,#ea2e2e,red);
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-background-color: black;
    -webkit-background-clip: text;
    margin-top: 48px;
    margin-left: 260px;
    transform: rotate(23deg);
    
    }   
    
    .di{
        height: 114px;
    width: 46px;
    margin-left: -484px;
    background: white;
    border-radius: 11px;
        
        
    }
    .d{
        height: 5px;
    width: 492px;
    transform: rotate(-23deg);
    background-color: white;
    margin-top: -1px;
    margin-left: -41px;
    color: white;
    text-align: center;
    font-size: 16px;
        
        
    }
    .le{
        height: 2px;
    width: 434px;
    background-color: white;
    margin-top: 59px;
    margin-left: -9px;
    transform: rotate( 23deg);
    border-radius: 2px;
    }   
    .len{
        height: 13px;
    width: 69px;
    color: white;
    background-color: black;
    margin-top: -7px;
    margin-left: 178px;
    transform: rotate(22deg);
    font-size: 14px;
    
    }
    .wi{
        height: 2px;
        width: 185px;
        background-color: white;
        margin-top: -12px;
        margin-left: 360px;
        transform: rotate( 113deg);
    
    }
    .wid{
        height: 13px;
    width: 67px;
    color: white;
    background-color: black;
    margin-top: -5px;
    margin-left: 418px;
    transform: rotate(112deg);
    font-size: 14px;
    }
}
@media only screen and (max-width:810px){
    .para{
        width:-webkit-fill-available;
    }
    .paraa{
        width:-webkit-fill-available;
    }
    .r{
        margin: 6%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}
@media only screen and (max-width:800px){
    .rightNavinput {
        width: 44%;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0px 5px;
    }
    .thumbnil img{
        width: 100%;
        border: 4px solid black;
        border-radius: 30px;
    }
    .thumbnila img{
        width: 100%;
        border: 4px solid black;
        border-radius: 30px;
    }
    .text-center{
        font-size:26px;
    }
}   
@media only screen and (max-width:700px){
    .scam{
        height:50px;
        width: 100%;
        min-width: 125px;
        border-top: 4px solid black;
        border-radius: 50px;
        margin-left: 0%;   
    }
    .sac {
        height: 26px;
        width: 57px;
        border: 2px solid black;
        border-radius: 50px;
        margin-top: -44px;
        margin-left: 3%;
        
    }

}
@media only screen and (max-width:610px){
    .r{
        margin: 3%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .disp{
        display:flex;
        justify-items:center;
        align-items:center;
    }
    .dis{
        height: 124px;
    width: 245px;
    border: 3px solid black;
    border-radius: 15px;
    background: black;
    color: white;
    font-size: 30px;
    text-align: center;
        
    }
    .disc{
        background: black;
    margin-left: 5%;
    color: white;
    width: 154px;
    font-size: 27px;
    text-align: center;
    background: linear-gradient(90deg,blue,#3131c1,#ea2e2e,red);
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-background-color: black;
    -webkit-background-clip: text;
    margin-top: -130px;
    margin-left: 19px;
    transform: rotate(25deg);
}
    

    .disl{
        background: black;
        margin-left: 5%;
        color: white;
        width: 120px;
        font-size: 27px;
        text-align: center;
        background: linear-gradient(90deg    ,blue,#3131c1,#ea2e2e,red);
        -webkit-text-fill-color: transparent;
        -webkit-text-fill-background-color: black;
        -webkit-background-clip: text;
        margin-top: 34px;
        margin-left: 120px;
        transform: rotate(24deg);
    }   
    
    .di{
        height: 65px;
    width: 35px;
    margin-left: -262px;
    background: white;
    border-radius: 7px;
        
        
    }
    .d{
        height: 2px;
        width: 256px;
        transform: rotate(-25deg);
        background-color: white;
        margin-top: 3px;
        margin-left: -27px;
        color: white;
        text-align: center;
        font-size: 13px;
        
        
    }
    .le{
        height: 2px;
    width: 210px;
    background-color: white;
    margin-top: 7px;
    margin-left: 8px;
    transform: rotate( 25deg);
    border-radius: 2px;
    }   
    .len{
        height: 13px;
    width: 52px;
    color: white;
    background-color: black;
    margin-top: -12px;
    margin-left: 82px;
    transform: rotate(25deg);
    font-size: 10px;
    
    }
    .wi{
        height: 2px;
        width: 106px;
        background-color: white;
        margin-top: -8px;
        margin-left: 184px;
        transform: rotate(115deg);
    
    }
    .wid{
        height: 13px;
    width: 55px;
    color: white;
    background-color: black;
    margin-top: -7px;
    margin-left: 205px;
    transform: rotate(115deg);
    font-size: 10px;
}
}

@media only screen and (max-width:550px){
.r{
    margin: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
}
@media only screen and (max-width:490px){
    .pr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}
@media only screen and (max-width:389px){
    .rightNavinput {
        width: 27%;
        border: 2px solid white;
        border-radius: 5px;
        padding: 0px 5px;
    }
    .text{
        font-size: 12px;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-left: 73px;
        margin-top: -22px;
        width: 167px;
    
    }
    .sac {
        height: 22px;
        width: 54px;
        border: 2px solid black;
        border-radius: 50px;
        margin-top: -45px;
        margin-left: 6%;
    }
    .sc {
        height: 18px;
        width: 17px;
        border: 2px solid black;
        border-radius: 100px;
        margin-left: 1px;
        margin-top: 0px;
        background-color: black;
        color: white;
        font-size: 18px;
        text-align: center;

    }
    .scb {
        height: 18px;
        width: 18px;
        border: 2px solid black;
        border-radius: 100px;
        margin-left: 31px;
        margin-top: -22px;
        background-color: black;
        color: white;
        font-size: 18px;
        text-align: center;
    }

}
@media only screen and (max-width:300px){
    .color{
        width: 16px;
        height: 16px;
        border-radius: 100px;
        background-color: white;

    }
    .line3{
        width: 22px;
        background-color: white;
        height: 3px;
        margin: -5px 1px;
        transform: rotate(45deg);
    }   
    .color2 {
        width: 17px;
        background-color: black;
        height: 4px;
        margin: -8px 0px;
        transform: rotate(-5deg);
        transition: all 0.5s ease-in;
    }
    .no{
        height: 0px;
        width: 0px;
        transition: all 0.5s linear;
        transform: rotate(447deg);
        margin: -6px 7px;
    }
    .text{
        font-size: 12px;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-left: 73px;
        margin-top: -22px;
        width:80px;
    
    }
}
@media only screen and (max-width:280px){
        .rightNav{
            padding-top: 45px;
        }
        .rightNavinput {
            width: 37%;
            border: 2px solid white;
            border-radius: 5px;
            padding: 0px 5px;
        }
        
        
        .btn{
            padding: 3px 6px;
            margin: 7px 3px;
            border: 2px solid whitesmoke;
            border-radius: 100px;
            font-size: 10px;
            background: none;
            color: white;
            cursor: pointer;
        }
        .btn:hover{
            padding: 2px 5px;
            margin: 7px 3px;
            border: 1px solid gray;
            border-radius: 100px;
            font-size: 10px;
            background: none;
            color: gray;
            cursor: pointer;
        }
        
        
        .btn{
            padding: 3px 6px;
            margin: 7px 3px;
            border: 2px solid whitesmoke;
            border-radius: 100px;
            font-size: 10px;
            background: none;
            color: white;
            cursor: pointer;
        }
        .btn:hover{
                padding: 2px 5px;
                margin: 7px 3px;
                border: 1px solid gray;
                border-radius: 100px;
                font-size: 10px;
                background: none;
                color: gray;
                cursor: pointer;
        }
        .cam{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .c{
            height: 120px;
    width: 120px;
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-radius: 27px;
    margin-top: 2%;
    margin-bottom: 2%;
}

        .ca{
            height: 45px;
    width: 45px;
    border: 2px solid #727184;
    border-radius: 200px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 20%);
    border-radius: 200px;
    margin-top: -55px;
    margin-left: -114px;
    text-align: center;
    font-size: 12px;
    background-color: black;
    color: white;
            }
        
        .cb{
            height: 45px;
    width: 45px;
    border: 2px solid #727184;
    border-radius: 200px;
    margin-top: 63px;
    margin-left: -50px;
    text-align: center;
    font-size: 12px;
    background-color: black;
    color: white;
    box-shadow: 0 15px 25px rgb(0 0 0 / 20%);
            }

        .cc{
            height: 45px;
    width: 45px;
    border: 2px solid #727184;
    border-radius: 200px;
    margin-top: -55px;
    margin-left: 10px;
    text-align: center;
    font-size: 12px;
    background-color: black;
    color: white;
    box-shadow: 0 15px 25px rgb(0 0 0 / 20%);
            
        }
        .cd{
            height: 45px;
    width: 45px;
    border: 2px solid #727184;
    border-radius: 200px;
    margin-top: 63px;
    margin-left: -50px;
    text-align: center;
    font-size: 12px;
    background-color: black;
    color: white;
    box-shadow: 0 15px 25px rgb(0 0 0 / 20%);
    }


            
}
@media only screen and (max-width:220px){
    .text{
        font-size: 12px;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-left: 54px;
        margin-top: -24px;
        width: 80px;
    }

    .scam {
        height: 50px;
        width: 100%;
        min-width: 100px;
        border-top: 4px solid black;
        border-radius: 9px;
        margin-left: 0%;
    }
    .sac {
        height: 22px;
        width: 54px;
        border: 2px solid black;
        border-radius: 50px;
        margin-top: -46px;
        margin-left: 0%;
    }
}
@media only screen and (max-width:200px){
            .rightNav{
                padding-top: 45px;
                padding-bottom: 2px;
            }
            .rightNavinput {
                width: 70%;
                border: 2px solid white;
                border-radius: 5px;
                padding: 0px 5px;
            }
            .btnsm{
                display:none;
            }
            .clear{
                display:none;
            }
            .para{
                font-size: 9px;
            }
            .paraa{
                font-size: 9px;
            }
            .text-small{
                font-size: 10px;
            }
            .text-big{
                font-size: 14px;
            }
            .pr {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        
}
@media only screen and (max-width:175px){
    .text {
        font-size: 12px;
        text-align: center;
        margin-left: -2px;
        margin-top: 3px;
        width: 80px;
    }
    .sectiona {
        padding: 3px;
        flex-direction: column-reverse;
    }
    .section {
        padding: 3px;
        flex-direction: column-reverse;
    }
    
}



@media only screen and (max-height:585px){
    .contact{
        font-size: 28px;
        background-color:black;
        height:100vh;
    }
}
@media only screen and (max-height:510px){
    .contact{
        font-size: 28px;
        background-color:black;
        height:125vh;
    }
}    
@media only screen and (max-height:412px){
    .contact{
        font-size: 28px;
        background-color:black;
        height:150vh;
    }
}
@media only screen and (max-height:345px){
    .text-big{
        font-size: 18px;
    }
    .text-small{
        font-size: 14px;
    }
    .btn{
        padding: 3px 6px;
        margin: 7px 3px;
        border: 2px solid whitesmoke;
        border-radius: 100px;
        font-size: 10px;
        background: none;
        color: white;
        cursor: pointer;
    }
    .btn:hover{
            padding: 2px 5px;
            margin: 7px 3px;
            border: 1px solid gray;
            border-radius: 100px;
            font-size: 10px;
            background: none;
            color: gray;
            cursor: pointer;
    }
    .contact{
        font-size: 28px;
        background-color:black;
        height:180vh;
    }
}

@media only screen and (max-height:292px){
    .rightNav{
        height: 30px;
    }
    .rightNavinput{
        height:13px;
    }
    .btn{
        height: 19px;
        font-size: 8px;
    }
    .h-nav-resp {
        max-height: 30px;
    }
    .burger {
        position: absolute;
        cursor: pointer;
        right: 4%;
        top: 15px;
    }
    .icon {
        position: absolute;
        cursor: pointer;
        right: 4%;
        top: 9px;
        width: 22px;
    }

    .line {
        width: 20px;
        background-color: white;
        height: 2px;
        margin: -2px 1px;
    }
    .line2 {
        width: 20px;
        background-color: white;
        height: 2px;
        margin: -2px 1px;
    }
    .top {
        width: 20px;
        background-color: white;
        height: 1px;
        margin: 3px 1px;
    }
    .bootom {
        width: 20px;
        background-color: white;
        height: 1px;
        margin: 3px 1px;
    }
    .burger2 {
        position: absolute;
        cursor: pointer;
        right: 4%;
        top: 5px;
    }
    .color{
        width: 15px;
        height: 15px;
        border-radius: 100px;
        background-color: white;

    }
    .line3{
        width: 20px;
        background-color: white;
        height: 3px;
        margin: -5px 1px;
        transform: rotate(45deg);
    }   
    .color2 {
        width: 17px;
        background-color: black;
        height: 3px;
        margin: -7px 0px;
        transform: rotate(-5deg);
        transition: all 0.5s ease-in;
    }
    .no{
        height: 0px;
        width: 0px;
        transition: all 0.5s linear;
        transform: rotate(447deg);
        margin: -6px 7px;
    }
    .contact{
        font-size: 28px;
        background-color:black;
        height:210vh;
    }
    
}
@media only screen and (max-height:253px){
    .contact{
        font-size: 28px;
        background-color:black;
        height:250vh;
    }    
}
@media only screen and (max-height:215px){
    .contact{
        font-size: 28px;
        background-color:black;
        height:320vh;
    }
}
@media only screen and (max-height:185px){
    .contact{
        font-size: 28px;
        background-color:black;
        height:400vh;
    }
}
@media only screen and (max-height:152px){
    .contact{
        font-size: 28px;
        background-color:black;
        height:800vh;
    }
}




